.connexionDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh auto;
    width: 30vw;
    display: inline;
    border-radius: 5px;
    padding: 2em;
    border: 1px solid gray;
    box-shadow: 1px 1px 2px;
}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.formulaire input{
    padding: 0.7em 0.9em;
    border-bottom: 1px solid gray;
    font-size: 2vh;
    box-shadow: 1px 1px 2px;
    background-color: #edede9;
}

.formulaire input:focus{
    outline: none;
}

.formulaire input[type="submit"]{
    background-color: #98cae0;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.inscription{
    text-align: center;
}

.inscription p{
    font-size: 2vh;
}